.input-date {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: start;
  justify-content: start;
}
#datetime-picker {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  left: 0;
  margin-top: 30px;
}
#datetime-picker:hover {
  border-color: #4e75ff;
}
#datetime-picker:focus {
  border-color: #4e75ff;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

[data-start] {
  padding: 5px;
  font-style: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  width: 60px;
  height: 30px;
  margin-top: 30px;
}

.timer {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  align-items: start;
  justify-content: start;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  min-width: 60px;
  text-align: center;
}
.label {
  font-size: 12px;
  text-transform: uppercase;
  color: #444;
  margin-top: -5px;
}
