#datetime-picker {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-top: 20px;
}
[data-start] {
  padding: 5px;
  font-style: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  width: 50px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  min-width: 60px;
  text-align: center;
}
.label {
  font-size: 12px;
  text-transform: uppercase;
  color: #444;
  margin-top: -5px;
}
